.pacman {
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-top: 20px solid red;
    border-left: 20px solid red;
    border-bottom: 20px solid red;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.down {
    transform: rotate(90deg);
}

.left {
    transform: rotate(180deg);
}

.up {
    transform: rotate(-90deg);
}
